*,
*::before,
*::after {
  box-sizing: border-box;
}
/*----------------------------------------------------------------body----------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.banner {
  margin: 0;
  padding: 10px 10%;
}

.hidden {
  display: none;
}

.error-msg {
  color : red;
}


@media screen and (max-width: 1000px) {
  .banner{
    padding: 0;
    margin: 0;
  }
}
.saved-msg{
  color: green;
}
