.bmi-mainStyle {
  padding: 0;
  height: 75vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 3%;
  font-size: 18px;
}
.grey-text {
  font-weight: bold;
  font-size: 18px;
  margin-left: -60px;
  color: #888;
}
.bmi-mainStyle h1 {
  flex: 0.3;
  text-align: left;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.bmi-mainStyle p.first-p {
  line-height: 1.5rem;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1rem;
  width: 560px;
  color: black;
  text-align: justify;
  padding: 5px;
  margin-top: 0;
  margin-right: 8px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.bmi-style {
  padding-left: 70px;
}

.bmi-mainStyle table .label {
  color: #3c77af;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.input-box {
  font-size: 18px;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(79deg, #edf3fc, #dddff9 48%, #b2c3fd 100%);
}

/* The container */
.container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin: 0 6px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/*----------------------------------------------------------------bmi result---------------------------------------*/
.bmi-result {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 460px;
  width: 667px;
  height: 100px;
  margin: 10px 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
}


.row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
}

.col {
  flex-basis: 25%;
  text-align: center;
  padding: 22px 18px;
  height: 100%;
  position: relative;
}

.col span {
  width: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 10px solid #4177dc;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.normal{
  background-color: green;
}

.text {
  background-color: #4177dc;
  color: white;
}

.state {
  font-weight: bold;
  font-size: 1.2em;
  background-color: #a5e2ff;
}

.row .col:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.row .col:nth-child(4) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 768px) {
  .bmi-style {
    width: 450px;
  }
  .bmi-mainStyle p.first-p{
    flex-grow: 1;
  }
}
@media screen and (max-width: 1000px) {
  .bmi-style {
    width: 450px;
    padding-left: 30px;
  }
  .bmi-result{
    position: relative;
    left: 0;
    padding:0;
  }

  .bmi-info-result{
    display: none;
  }
}


/*----------------------------------------------------------------bmi info---------------------------------------*/

.bmi-info {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 700px;
  margin-left: 600px;
  margin-top: 30px;
  padding: 10px;
  padding-right: 5px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.bmi-info-result {
  position: absolute;
  right:0;
  top: 168px;
  left: 600px;
  width: 670px;
  margin: 0 5px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.custom-info img {
  width: 50%;
  float: right;
  margin-left: 10px;
}
.custom-info p {
  line-height: 1.2;
  letter-spacing: 1px;
   word-spacing: -2px;
  text-align: justify;
}
.custom-info h4 {
  width: 25%;
  margin: 0;
}

#check {
  display: none;
}

.readmore-text {
  display: none;
  transition: 0.5s linear;
}

.custom-info label {
  display: inline-block;
  color: #e03b8b;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
  padding-top: 0;
  margin-bottom: 15px;
}

#check:checked ~ .readmore-text {
  display: block;
}

#check:checked ~ label {
  visibility: hidden;
  /* display: none; */
}
#check:checked ~ label:after {
  content: 'Show Less';
  display: block;
  visibility: visible;
  padding: 0 auto;
}
@media screen and (max-width: 768px) {
  .bmi-info{
    position: relative;
    width: 460px;
    margin-left: 5px;
  }
}
@media screen and (max-width: 1000px) {
  .bmi-info{
    position: relative;
    bottom: 0;
    margin-left: 5px;
  }
}