.summary-mainStyle{
    display: flex;
    min-height: 75vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.summary-style{
     padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    background-color: #BAC8FC;
}

.summary-style h2{
    width: 100%;
}
.summary-style .first-td{
    font-weight: bold;
    text-align: right;
    font-size: 1.1em;
}

.summary-style .second-td{
    text-align: left;
}


@media screen and (max-width: 768px) and (min-width: 300px){
    .summary-mainStyle{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px;
}
}